.flex {
  display: -webkit-flex;
  display: flex;
}
 
.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}
 
.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}
 
.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-initial {
  -webkit-flex: initial;
  flex: initial;
}
 
.justify-content-center {
  -webkit-justify-content: center;
  justify-content: center;
}

/* Align self */
 
.align-self-start {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
 
.align-self-center {
  -webkit-align-self: center;
  align-self: center;
}
 
.align-self-end {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

/* Align items */
 
.align-items-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
 
.align-items-center {
  -webkit-align-items: center;
  align-items: center;
}
 
.align-items-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/* Flex proportion */
 
.flex-1 { flex: 1; -webkit-flex: 1; }
.flex-2 { flex: 2; -webkit-flex: 2; }
.flex-3 { flex: 3; -webkit-flex: 3; }
.flex-4 { flex: 4; -webkit-flex: 4; }
.flex-5 { flex: 5; -webkit-flex: 5; }
.flex-6 { flex: 6; -webkit-flex: 6; }
.flex-7 { flex: 7; -webkit-flex: 7; }
.flex-8 { flex: 8; -webkit-flex: 8; }
.flex-9 { flex: 9; -webkit-flex: 9; }
.flex-10 { flex: 10; -webkit-flex: 10; }
.flex-11 { flex: 11; -webkit-flex: 11; }
.flex-12 { flex: 12; -webkit-flex: 12; }
.flex-13 { flex: 13; -webkit-flex: 13; }
.flex-14 { flex: 14; -webkit-flex: 14; }
.flex-15 { flex: 15; -webkit-flex: 15; }
.flex-16 { flex: 16; -webkit-flex: 16; }
.flex-17 { flex: 17; -webkit-flex: 17; }
.flex-18 { flex: 18; -webkit-flex: 18; }
.flex-19 { flex: 19; -webkit-flex: 19; }
.flex-20 { flex: 20; -webkit-flex: 20; }
